# BEATIFULSOUP

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
 
url = "https://www.worldometers.info/world-population/us-population/"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
 
table = soup.find("table", {"class":"table table-striped table-bordered table-hover table-condensed table-list"})
 
headers = []
 
for i in table.find_all("th"):
    title = i.text
    headers.append(title)
 
df = pd.DataFrame(columns=headers)
 
for row in table.find_all("tr")[1:]:
    data = row.find_all("td")
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data

In [ ]:
# TABLE DATA COPY BY USING CLIPBOARD COMMAND

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
deneme = pd.read_clipboard()

In [6]:
deneme

,Tarih,Toplam Test Sayısı,Toplam Vaka Sayısı,Toplam Vefat Sayısı,Hastalarda Zatürre Oranı (%),Ağır Hasta Sayısı,Toplam İyileşen Hasta Sayısı,Bugünkü Hasta Sayısı,Bugünkü Test Sayısı,Bugünkü Vefat Sayısı,Bugünkü İyileşen Sayısı
0,18 MART 2021,35.787.480,2.950.603,29.777,"3,2",1.503,2.770.638,902.0,184.452,81.0,18.615
1,17 MART 2021,35.603.028,2.930.554,29.696,"3,2",1.484,2.752.023,869.0,167.526,73.0,17.161
2,16 MART 2021,35.435.502,2.911.642,29.623,"3,2",1.474,2.734.862,874.0,158.386,71.0,17.893
3,15 MART 2021,35.277.116,2.894.893,29.552,"3,2",1.425,2.716.969,858.0,151.113,63.0,15.893
4,14 MART 2021,35.126.003,2.879.390,29.489,"3,8",1.392,2.701.076,852.0,132.425,68.0,15.516
...,...,...,...,...,...,...,...,...,...,...,...
368,15 MART 2020,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,14 MART 2020,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,13 MART 2020,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,12 MART 2020,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
372,11 MART 2020,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pwd

'c:\\Users\\duygu.keten\\Desktop\\M&E_Dosya\\Pyhton_deneme'

In [8]:
deneme.to_excel("COVID.xlsx")